<header class="spoonful-header">
  <div class="logo">
    <%= image_tag "spoons.svg" %>
  </div>
  <div class="sub-welcome">
    <%= t('header.welcome') %>
  </div>
  <div class="brand-name">
    <%= t('header.brand') %>
  </div>
</header>
